# Python virtual environments & bytecode
.venv/
venv/
ENV/
__pycache__/
*.pyc

# Environment & Sensitive Keys
.env

# Database & Logs
*.db
insurance.db
otp.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
